*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("assets/bubuWallpaper3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: overlay;
}
table{
    opacity: 0;
    color: transparent;
}
.buttons{
    height: 80px;
    width: 550px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.buttons > div{
    height: 50px;
    width: 100px;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-content: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: yellow;
}

.buttons  div  img{
    height: 60px;
    width: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.left > img{
    animation-name: left;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 14%;
}
.right > img{
    animation-name: right;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 14%;
}
.top > img{
    position: relative;
    left: -18%;
    animation-name: top;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.bottom > img{
    position: relative;
    left: -39%;
    animation-name: bottom;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Key Frames */

@keyframes left{
    from{
        transform: scaleX(-1);
        left: 40%;
    }   
    to{
        transform: scaleX(-1);
        left: -80%;
    }
}

@keyframes right{
    from{
        left: -80%;
    }
    to{
        left: 110%;
    }
}

@keyframes top{
    from{
        top: 140%;
    }
    to{
        top: -100%;
    }
}

@keyframes bottom{
    from{
        top: -100%;
    }
    to{
        top: 140%;
    }
}


/* Media Queries */

@media only screen and (max-width:570px){
    body{
        gap: 1px;
    }
    .buttons{
        flex-direction: column;
        height: 300px;
        width: 150px;
    }
}



